.main{
    display: flex;
    
    justify-content: space-between;
    padding: 0rem 6rem;
}
.right{
    padding: 20px;
}
.table tr{
    font-size: 1.2rem;
}
.table{
    display: flex;
    flex-direction: column;
    gap: 2rem ;
    padding:1rem 0rem;
}
.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    background-color: #E7D1D1;
    padding: 2rem;
    border-radius: 1rem;

}
.contact-form div{
    display:flex;
    flex-direction: column;
    
}
.contact-form div input{
    width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    border: none ;
    
}
.contact-form div input:focus{
    border: none;
}
.contact-form div label{
    font-size: 1.3rem;
  
}
.head{
    display: flex;
    justify-content: center;
    padding:3rem 0rem;

}
.button{
    background-color: #008080;
    top: 420px;
    right: 20px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    
  }